table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);

    letter-spacing: 2px;
    font-size: medium;
}

th, td {
    border: 1px solid rgb(200,200,200)
}

h2 {
    color: darkslateblue;
}

p {
    color: blue;
}